.VendingMachineItems-div{
  margin-top: 10px;
  border: solid white 2px;
  background-color: rgb(154, 151, 151, 0.5);
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.VendingMachineItems-link{
  color: white;
  font-size: 30px;
  font-weight: 700;
  transition: text-shadow 0.3s ease;

}

.VendingMachineItems-link:hover {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.9), 
               0 0 5px rgba(255, 255, 255, 0.7),
               0 0 7px rgba(255, 255, 255, 0.5);
}